body {
    background-color: #9e2c17;
    color: #ffffff;
    padding:0;
    margin:0
}


.main-content {
	margin-top: 56px;
}

.navbar-brand {
  padding: 15px 15px;
}

.pokemons .col-xs-4 {
    padding-left: 10px;
    padding-right: 10px;
}

.pokemon-link {
    color: #ffffff;
}

.pokemonData {
    border: 1px solid #E5DA2A;
}

.level {
    background-color:#5cb85c
}
.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce1 {
    background-color: #dc0a2d;
}

.double-bounce2 {
  background-color: #fff;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}